<!-- management (프로젝트 관리 페이지) -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>프로젝트 관리 ㅣ Vector Board</title>
    <meta name="Author" content="Lee ChanHo">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css 초기화 -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/management.css">

    <script src="/js/jquery-3.1.1.min.js"></script>
</head>
<body>
    <div class="my-proejct">
        <ul class="my-project-wrap">
            <% if(ownProjectInfo){%>
                <% for(var i=0; i<ownProjectInfo.length; i++){%>
                    <li class="my-project-list">
                        <form name="projectForm" action="/management/myProject/removeProject" method="post">
                            <input class="remove-button" type="button" onclick="removeProject(this.form)">
                            <input type="hidden" name="pid" value="<%=ownProjectInfo[i].pid%>">
                            <a href="/vector?pid=<%=ownProjectInfo[i].pid%>">
                                <!-- 나중에 svg파일로 대체 (프로젝트 결과물 축소판) -->
                                <img class="mini-project" src="/project/<%=ownProjectInfo[i].pid%>/project.svg">
                                <p class="my-project-info">
                                    <span>프로젝트명: <%=ownProjectInfo[i].pname%></span><br>
                                    <span>소유자: <%=ownProjectInfo[i].owner%></span><br>
                                    <span>생성일: <%=ownProjectInfo[i].date%></span>
                                </p>
                            </a>
                        </form>
                    </li>
                <%}%>
            <%}%>
        </ul>
    </div>
    <script>
        function removeProject(projectForm){
            var msg = "프로젝트를 정말 제거하시겠습니까?";
            if (confirm(msg)!=0) {
                projectForm.submit();
            }
        }
    </script>
</body>
</html>